<%- include ("./partials/head") %>
    <h1>Nerdy T-Shirts</h1>

    <section class="container">
        <h2>Overview T-Shirts</h2>
        <section class="overviewPieces">
            <article class="pieces"><a href="/design">Add a new one</a></article>
            <article class="pieces">
                <section>
                    <p>
                        Phone number:
                        <span class="phone"><%= postData.phone %></span>
                    </p>
                    <p>
                        E-mail:
                        <span><%= postData.email %></span>
                    </p>
                    <p>
                        Gender:
                        <span><%= postData.gender %></span>
                    </p>
                    <p>
                        Size:
                        <span><%= postData.size %></span>
                    </p>
                    <p>
                        Text: "
                        <span><%= postData.text %></span> "
                    </p>
                    <p>
                        Color:
                        <span><%= postData.color %></span>
                    </p>
            </article>
            </section>

            <article>
                <h2>Shopping cart</h2>
                <p>You're shopping cart is empty</p>
                <a href="/order">Order your T-Shirt(s)</a>
            </article>
        </section>
        <%- include ("./partials/footer") %>